body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    border-bottom: solid 3px #ffd800;
}

a {
    text-decoration: underline;
}

/* remove underline from nav bar */
a.dropdown-item,
a.nav-link,
a.navbar-brand {
    text-decoration: none;
}

a.btn { 
    text-decoration: none;
}

a.dropdown-item:active {
    background-color: #aaaaaa;
}
/* force a card width/height so the box loading the image doesnt cause a flash of style visual glitch/artifact */
.card-image-top {
    height: 200px;
    width: 338px;
    background-color: #888888;
}